//
//  Common
//  _____________________________________________
@color-text:#fff;
@background-color-hf: #2d2d2f;
@background-color-nav:#3a3a3c;
@max-width:1280px;


.header.content {
    .logo {
      left: ~"calc(50% - 80px)";
      z-index: 6;
    }
  }
.inner-container{
  max-width: @max-width;
  margin: auto;
}
//
//  Desktop
//  _____________________________________________
  
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    //
    //  Header
    //  ---------------------------------------------
    .page-header {
        background: @background-color-nav;
        .header-top {
          background: @background-color-hf;
          border-bottom: none;
        }
        .header.content {
          background: @background-color-nav;
        }
    }
    .header-top{
      .custome-header-item{
        display: flex;
        align-items: center;
        .item-header{
          width: 50%;
        }
      }
    }
    .item-header{
      .nav{
        padding: 10px 0;
        margin: 0;
        float: left;
        width: 100%;
      }
      .nav.justify-content-end {
        justify-content: flex-end;
        display: flex;
      }
      .nav-item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        font-size: 12px;
        padding: 0 10px;
        border-right: 1px solid#afafaf;
        height: 15px;
        float: left;
        a{
          color:#afafaf;
        }

        i{
          color:#afafaf;
          padding-right: 10px;
        }
      }
      .nav-item:last-child{
        border-right: none;
      }
  }
  .right-header{
    color: #fff;
  }

  .block-search {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
  }

  .nav-sections-item-content {
      position: relative;
  }

  //
  // Footer
  // ------------------------------------------------------------
    .page-footer{
      background: @background-color-nav;
      position: relative;
      .footer.content{
        border-top: none;
      }
    }

    .footer-links{
      .footer-item{
        float: left;
        width: 100%;

        .newsfooter-top{
          width: 20%;
          float: left;
          padding-right: 30px;
            .footer-lg-text {
              color: #fff;
              font-size: 11px;
              text-align: left;
            }
            .footer-lg-info ul li {
              font-size: 12px;
                i {
                  color: #819637;
                }
                small{
                  color: #fff;
                }
            }
        }

        .newsfooter-bot{
          width: 77%;
          float: left;
          
          border-right: 1px dotted#636365;
          border-left: 1px dotted#636365;
          .block.newsletter{
            width: 100%;
            .pdnewsletter{
              padding: 0 30px;
              margin-bottom: 0;
              margin-top: 40px;
            }
            .title{
              display: block;
              float: left;
              width: 30%;
              color:#fff;
              text-transform: uppercase;
              font-size: 16px;
              font-weight: 700;
              position: relative;
              padding-bottom: 10px;
                  &:before{
                    content: "";
                    width: 10%;
                    height: 2px;
                    background:#7ea204;
                    left: 0;
                    position: absolute;
                    bottom: 0;
                  }
            }
            .content{
              width: 70%;
              float: left;
            }
          }

          .links-item{
            width: 100%;
            float: left;
            border-bottom: 1px dotted#636365;
            display: flex;
            .footer_column{
              width: 25%;
              float: left;
              padding: 0 30px 40px;
              border-right: 1px dotted#636365;
              .title{
                color:#fff;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 700;
                position: relative;
                padding-bottom: 10px;
                  &:before{
                    content: "";
                    width: 10%;
                    height: 2px;
                    background:#7ea204;
                    left: 0;
                    position: absolute;
                    bottom: 0;
                  }
              }
              ul > li {
                padding: 5px 0;
                a{
                  font-size: 12px;
                  color: #afafaf;
                }
              }
            }
          }
        }
      }
    }

}
